@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --menu-width: 380px;
}

@media (max-width: 600px) {
  :root {
    --menu-width: 300px;
  }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
}

#root {
  width: 100%;
  height: 100%;
}
